@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html,
body {
  height: 100%;
}

/* * {
   box-sizing: border-box;
 }
  */
body,
h1,
h2 {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: flex;
  justify-content: center;
}

body {
  font-family: Open Sans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  -webkit-font-smoothing: antialiased;
  background: linear-gradient(to left top, blue, red);
  background-attachment: fixed;
}

.app {
  display: flex;
  flex-direction: column;
}

/* Border X get width  */

h2 {
  font-family: Hind, sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}

/* Header */



.navbar button {
  background-color: #333;
  border: none;
  color: white;
  cursor: pointer;
  float: left;
  font-size: 16px;
  margin: 0 10px;
  padding: 12px 16px;
  text-align: center;
}
.header-logo {
  margin: 0;
}

.nav {
   display: flex;
   align-items: center;
   justify-content: space-between;
   height: 10vh;
   overflow: hidden;
   width: 100%;
   box-sizing: border-box;
   background: #2a2b32;
   color: #fff;
   padding: 0.5rem 1rem;
   text-align: center;
 }
 
 .search-bar {
   flex: 1;
   height: 35px;
   margin: 0 1rem;
   padding: 12px 16px;
   background-color: #fff;
   border: none;
 }
 
 .button {
   background-color: #333;
   border: none;
   color: white;
   cursor: pointer;
   font-size: 16px;
   padding: 12px 16px;
   text-align: center;
 }
/* .header-logo svg {
  height: 24px;
  width: 92px;
} */

.header-title {
  font-size: 38px;
  font-weight: 300;
}

.empty-home-msg {
  color: #fff;
  text-align: center;
  width: 100%;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, minmax(30%, 200%));
  grid-auto-rows: auto;
  gap: 20px;
  padding: 15px;
}

.card {
   background: #2a2b32;
   color: #fff;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  max-width: 100%;
  min-width: 70%;
  padding: 10px;
  height: 250px;
}


.button-transparent {
  background-color: transparent;
  border: none;
}

.highlight-red {
  background-color: #f32;
}
.logout-button {
  color: #f32;
}

.icon {
  width: 35px;
  height: 35px;
}
.container-main {
  box-shadow: 0 3px 13px 1px #c2c2c2;
  width: 31%;
  display: flex;
  align-items: center;
  padding: 1.5rem;
  margin: 1rem;
  border-radius: 1rem;
  position: relative;
}

.max-height-card {
  width: 75%;
  margin: 0 auto;
  padding: 1rem;
  height: 92%;
  cursor: pointer;
}

.container-main:hover {
  transform: scale(1.02);
  /* cursor: pointer; */
}

.card-icon-favorite {
  position: absolute;
  left: 90%;
  top: 6%;
  color: #58d68d;
  /* z-index: 10000; */
}

.img__content {
  margin: auto 0;
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.info {
  padding-left: 1.5rem;
}

.info__status {
  font-size: 1.3rem;
  width: 7rem;
  height: 2rem;
  color: #fff;
  border-radius: 5rem;
  text-align: center;
  font-weight: bold;
}

.modal-status {
  margin-top: 6rem;
}

.info__status-modal {
  margin: 0 auto;
}

.info__label {
  padding-top: 0.5rem;
  font-size: 1.2rem;
  color: #566573;
}

.info__name {
  font-size: 2rem;
  font-weight: 500;
}

.info__description {
  font-size: 1.4rem;
}

.img__specie {
  font-size: 1.2rem;
  font-weight: 600;
  color: white;
  text-align: center;
  height: 2rem;
}

.info__status--alive {
  background-color: #58d68d;
}
.info__status--dead {
  background-color: #e74c3c;
}
.info__status--unknown {
  background-color: #7f8c8d;
}

.img__specie--human {
  background: #2c3e50;
}

.img__specie--alien {
  background: #84ae23;
}

.img__specie--default {
  background: #3498db;
}

.container-filters {
  flex: 1;
  margin-right: 60px;
  max-width: 260px;
}

.container-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  min-height: 80px;
}

.container-results {
  flex: 3;
}

.container-options {
  border-bottom: 1px solid #ebecf3;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 30px;
  padding: 30px 0;
}

.container-options .container-option:not(:first-child) {
  margin-left: 48px;
}

.container-options select {
  min-width: 100px;
}

.container-footer {
  margin: 4rem 0;
}

em {
  font-style: normal;
}

em,
mark {
  background: rgba(226, 164, 0, 0.4);
}

/* Clear refinements container */

.clear-filters {
  align-items: center;
  display: flex;
}

.clear-filters svg {
  margin-right: 8px;
}

/* Panel */

.container-body .ais-Panel {
  border-top: 1px solid #ebecf3;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.ais-Panel-header {
  font-family: Hind, sans-serif;
}

/* Search box */

.header .ais-SearchBox {
  height: 64px;
  width: 740px;
}

.header .ais-SearchBox .ais-SearchBox-input {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 48px 0 rgba(0, 0, 0, 0.2);
  font-family: Hind, sans-serif;
  height: 64px;
  /*
     The "Hind" font family is vertically off-balance.
     Adding 4px of padding top makes it more vertically aligned.
   */
  padding: 4px 48px 0 64px;
}

.header .ais-SearchBox-submit {
  padding: 0 1rem 0 2rem;
  width: 64px;
}

.header .ais-SearchBox .ais-SearchBox-input::placeholder {
  color: rgba(33, 36, 61, 0.24);
  opacity: 1; /* Firefox */
}

.ais-SearchBox-input:-ms-input-placeholder {
  color: rgba(33, 36, 61, 0.24);
}

.ais-SearchBox-input::-ms-input-placeholder {
  color: rgba(33, 36, 61, 0.24);
}

.ais-SearchBox-submit {
  color: #e2a400;
}

.ais-RefinementList .ais-SearchBox-input {
  font-family: Hind, sans-serif;
  /*
     The "Hind" font family is vertically off-balance.
     Adding some padding top makes it more vertically aligned.
   */
  padding-top: 2px;
}

/* Hits */

.hit {
  color: #21243d;
  font-size: 14px;
  line-height: 18px;
}

.hit h1 {
  font-size: 14px;
}

.hit-category {
  color: #21243d;
  font-size: 12px;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 8px;
  opacity: 0.7;
  text-transform: uppercase;
}

/* .hit-description {
  margin-top: 2px;
}

.hit-info-container {
  overflow-wrap: break-word;
  word-break: break-word;
}

.hit-image-container {
  align-items: center;
  display: flex;
  height: 174px;
  justify-content: center;
  width: 174px;
}

.hit-image {
  height: auto;
  max-height: 100%;
  max-width: 100%;
} */

.hit-em {
  color: #e2a400;
  font-size: 11px;
  font-weight: 600;
}

.hit-rating {
  border: 1px solid rgba(226, 164, 0, 0.5);
  border-radius: 4px;
  margin-left: 4px;
  padding: 0 4px;
}

.hits-empty-state {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 300px;
}

.hits-empty-state-title {
  font-family: Hind;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0;
  text-align: center;
}

.hits-empty-state-description {
  color: rgba(35, 37, 51, 0.6);
  font-size: 0.875rem;
  text-align: center;
}

.hits-empty-state .ais-ClearRefinements {
  margin-top: 1rem;
}

.hits-empty-state .ais-ClearRefinements-button--disabled {
  display: none;
}

.hits-empty-state .ais-ClearRefinements-button {
  background: rgba(10, 8, 41, 0.04);
  border-radius: 3px;
  color: #21243d;
  min-height: 48px;
  padding: 16px 24px;
}

/* ToggleRefinement */

.ais-ToggleRefinement-label {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.ais-ToggleRefinement-checkbox {
  font: inherit;
  margin-left: 1rem;
  margin-right: 0;
  position: relative;
}

.ais-ToggleRefinement-checkbox:checked::before {
  color: #e2a400;
}

.ais-ToggleRefinement-checkbox::before {
  align-items: center;
  color: rgba(33, 36, 61, 0.32);
  content: "No";
  display: flex;
  font-size: 0.8rem;
  height: 16px;
  position: absolute;
  right: 38px;
}

.ais-ToggleRefinement-checkbox:checked::before {
  content: "Yes";
}

.ais-ToggleRefinement-count {
  display: none;
}

/* RatingMenu */

.ais-RatingMenu-item:not(.ais-RatingMenu-item--selected) {
  opacity: 0.5;
}

.ais-RatingMenu-starIcon {
  margin-right: 0.5rem;
}

/* Hide all mobile-specific design on desktop */

@media (min-width: 900px) {
  [data-layout="mobile"] {
    display: none;
  }
}
